

.turning-gears {
	width: 60px;
	margin: auto;
}

.bigcog {
	color: #464646;
	font-size: 28px;
	-webkit-animation: clockwise 3s linear infinite;
	-moz-animation: clockwise 3s linear infinite;
	-o-animation: clockwise 3s linear infinite;
	animation: clockwise 3s linear infinite;
	margin: 0 -4px 0 0;
}

.smallcog {
	color: #464646;
	font-size: 22px;
	vertical-align: bottom;
	-webkit-animation: anticlockwise 2s linear infinite;
	-moz-animation: anticlockwise 2s linear infinite;
	-o-animation: anticlockwise 2s linear infinite;
	animation: anticlockwise 2s linear infinite;
}

@-webkit-keyframes clockwise {
	from {
		-webkit-transform: rotate(0deg);
	}
	to { 
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes clockwise {
	from {
		-webkit-transform: rotate(0deg);
	}
	to { 
		-webkit-transform: rotate(360deg);
	}
}
@-o-keyframes clockwise {
	from {
		-webkit-transform: rotate(0deg);
	}
	to { 
		-webkit-transform: rotate(360deg);
	}
}
@keyframes clockwise {
	from {
		-webkit-transform: rotate(0deg);
	}
	to { 
		-webkit-transform: rotate(360deg);
	}
}

@-webkit-keyframes anticlockwise {
	from {
		-webkit-transform: rotate(360deg);
	}
	to { 
		-webkit-transform: rotate(0deg);
	}
}
@-moz-keyframes anticlockwise {
	from {
		-webkit-transform: rotate(360deg);
	}
	to { 
		-webkit-transform: rotate(0deg);
	}
}
@-o-keyframes anticlockwise {
	from {
		-webkit-transform: rotate(360deg);
	}
	to { 
		-webkit-transform: rotate(0deg);
	}
}
@keyframes anticlockwise {
	from {
		-webkit-transform: rotate(360deg);
	}
	to { 
		-webkit-transform: rotate(0deg);
	}
}